<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
  <body>
    <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Agregar Producto</h5>
      <p class="card-text">Ingresar Producto:</p>
      <form #send="ngForm" (ngSubmit)="submit(send)">
        <div class="form-group">
            <label for="name">Nombre</label><br>
            <input type="text" name="name" class = "form-control" ngModel>
        </div>
        <div class="form-group">
            <label for="price">Precio</label><br>
            <input type="text" name="price" class = "form-control" ngModel>
        </div>
        <div class="form-group">
            <label for="stock">Stock</label><br>
            <input type="text" name="stock" class = "form-control" ngModel>
        </div>
        <div class="form-group">
            <label for="pvp">pvp</label><br>
            <input type="text" name="pvp" class = "form-control" ngModel>
        </div>
        <button class="btn btn-primary" type="submit">Insert</button>
    </form>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <p class="card-text">Buscar por ID:</p>
      <form #search="ngForm" (ngSubmit)="getById(search)">
        <div class="form-group">
            <input type="text" name="search" class = "form-control" ngModel>
        </div>
        <button class="btn btn-primary" type="submit">Search</button>
    </form>
    </div>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Nombre</th>
        <th scope="col">Precio</th>
        <th scope="col">Stock</th>
        <th scope="col">PVP</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let pr of products">
        <td>{{pr.id}}</td>
        <td>{{pr.name}}</td>
        <td>{{pr.price}}</td>
        <td>{{pr.stock}}</td>
        <td>{{pr.pvp}}</td>
      </tr>
    </tbody>
  </table>
    </body>
</html>